@model List<SimpleStudents.Web.Models.Courses.CourseModel>

@{
    ViewBag.Title = "Courses management";
}

<h2>Manage</h2>

<div class="courses">
    <table>

        @foreach (var courseModel in Model)
            {
            <tr>
                <td>@(courseModel.Name)</td>
                <td>@foreach (var teacher in courseModel.Teachers)
                    {
                        <p>@(teacher.FirstName) @(teacher.LastName)</p>
                    }</td>
                </tr>
        }
    </table>
</div>

<form method="post" action="">
    <p />
    <h2>Input course</h2>
    <input type="text" name="Name" />

    <input type="submit" value="Add new course" />
</form>

@*@using (Html.BeginForm())
    {
        <p>Enter course name: @Html.TextBoxFor(x =>x.Name)</p>
        <p/>
        <input type="submit" value="Add course to database"/>
    }*@