@model List<SimpleStudents.Web.Models.Courses.CourseModel>

@{
    ViewBag.Title = "Courses management";
}

<h2>Manage</h2>

<div class="body-content">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Course name</th>
                <th>Teachers</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var courseModel in Model)
            {
                <tr>
                    <td>@(courseModel.Name)</td>
                    <td>
                        @foreach (var teacherName in courseModel.TeachersFullNames)
                        {
                            <p>@(teacherName)</p>
                        }
                    </td>
                </tr>
            }
    </table>
</div>

@Html.ActionLink("Add new course", "NewCourse",null, new { @class = "btn btn-primary" })