@model IList<SimpleStudents.Web.Models.Teachers.TeacherModel>

@{
    ViewBag.Title = "Manage Teachers";
}

<h2>Manage</h2>

<div class="body-content">
    <table class="table">
        <thead>
            <tr>
                <th>Teacher Name</th>
                <th>Courses</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var teacherModel in Model)
            {
                <tr>
                    <td>@(teacherModel.FirstName) @(teacherModel.LastName)</td>
                    <td>
                        @foreach (var course in teacherModel.Courses)
                        {
                            <p>@(course.Name)</p>
                        }
                    </td>
                </tr>
            }
    </table>
</div>

<form method="post" action="">
    <input type="button" value="Add new teacher" />
</form>