@model IList<SimpleStudents.Web.Models.Teachers.TeacherModel>

@{
    ViewBag.Title = "Manage Teachers";
}

<h2>Manage Teachers</h2>
<div class="form-group">
<table class="table table-bordered">
        <thead>
            <tr>
                <td>Teacher's name</td>
                <td>Courses</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in Model)
            {
                <tr>
                    <td>@Html.ActionLink(teacher.LastName + " " + teacher.FirstName, "EditTeacher", new {Id = teacher.Id})</td>

                    <td>
                        @foreach (var courseName in teacher.CoursesNames)
                        {
                            <p>@(courseName)</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.ActionLink("Add New Teacher", "FormTeacher", null, new {@class = "btn btn-primary"})