@using SimpleStudents.Domain
@model SimpleStudents.Models.StudentModel




<h2>Add new student</h2>
<div class="form">

    @using (Html.BeginForm())
    {
        <p>First Name: @Html.TextBoxFor(x => x.FirstName)</p>
        <p>Last Name: @Html.TextBoxFor(x => x.LastName)</p>
        //<p>Attended Courses: @Html.CheckBoxFor(x=>x.AttendedCources=new List<Course>())</p>
        <p/>
        <input type="submit" value="Add student to database"/>
    }

</div>